.hero {
  background-color: #2f303a;
  text-align: center;
}

.overlay {
  height: 100%;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/background-480.jpg);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/background-480@2x.jpg);
  }

  // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/background-768.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/background-768@2x.jpg);
    }
  }
}

@media (min-width: 1200px) {
  .overlay {
    // height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/background.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/background@2x.jpg);
    }
  }
}

.hero__title {
  font-weight: 900;
  font-size: 23px;
  line-height: 1.62;
  padding-top: 118px;

  @media screen and (min-width: 480px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    padding-top: 200px;
  }
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #fff;
  margin-bottom: 30px;
}
